

@font-face {
    font-family:catamaran;
    src: url(./assets/catamaran.bold.ttf);
}

h2, h3, h4, h5, h6{
      font-family:catamaran;

}


@font-face {
    font-family:catamaranR;
    src: url(./assets/catamaran.regular.ttf);
}

small,a, span{
      font-family:catamaranR;

}



 p{
      font-family:catamaranR;

}
@media only screen and (min-width:600px)  {
.flexy{
  display:flex ;
}
}



@media only screen and (max-width:620px)  {
.flexyM{
  display:flexy;
}

  .pass{
margin-left:60% !important;  }

}


.main{
  padding-top:70px;
}

.formy{
  margin-top:  90px;
}


.formy   {
  animation-duration: 1s;
  animation-name: fadeInOut;
}

@keyframes slideup {
  from {
    opacity: 0.5s;
  }

  to {
    margin-left: 1;
  }
}












  .formy li{
    margin-top: 19px;
  }
.formy p{
  color:grey;
        font-family:catamaranR;
        font-size:14px;
        margin-left:40px !important;
}
.formy img{
  margin-right:10px;
}
  input{
    margin:10px;
    height:40px;
    border-radius:5px;
    border:solid 1px rgb(232, 226, 226);
    padding:15px;
    font-size:10px;
      color:grey;

  }
  .pass{
margin-left:60%;  }









  .card{
    border-radius:10px;
    padding:40px 45px;
  }
label{
  color:#1899D7;

}
label:hover{
  color:black
}
  .form-header{
    margin-bottom:20px;
  }

  .formbutton{
    background-color:rgb(57,154,215);
    height:35px;
    border-radius:7px;
    border:none !important;
    color:white;
    margin-top:40px;
  }

  .formbutton:hover{
        background-color:rgb(30, 107, 155);

  }



  .formbutton3{
    background-color:rgb(57,154,215);
    height:35px;
    border-radius:7px;
    border:none !important;
    color:white;
    margin-top:15px;
    margin-left:5px;
  }

  .formbutton3:hover{
        background-color:rgb(30, 107, 155);

  }





body{
       background-image:url('./assets/switch-bg.PNG');
       background-size:cover;
       background-repeat:no-repeat;
       /* background-posi/tion:center; */
       background-origin: padding-box
}

  .formbutton2{
    background-color:rgb(57,154,215);
    height:35px;
    border-radius:5px;
    border:none !important;
    color:white;
    margin-top:40px;
        width:40%;

  }

  .formbutton2:hover{
        background-color:rgb(30, 107, 155);

  }



  label{
font-size:11px  }

.card p{
  margin-top:15px;
  font-size:10px;
}
input:checkbox{
margin-top:140px !important;
}
small{
  margin-top:-40px !important;
  font-size:11px;
  margin-left:40px;
}


span{
  font-size:13px;
  color:grey
}
.flag{
  height:15px;
  margin-right:20px;
}

.drop{
  margin:20px auto 20px 0px;
}

/* .remove{
  visibility:hidden !important;
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
} */



.main{
  position:relative;
  	transition: ease 0.5s !important;

}

.main::before{
  opacity:0.2;
  transition:ease 0.5s !important;
}
.slideUp{
  animation-duration: 0.5s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    margin-top: 5%;
  }

  to {
    margin-left: 0%;
  }
}




.bottomRight{
animation-duration: 0.5s;
  animation-name: slideupLeft;
}

@keyframes slideupLeft {
  from {
    margin-top: 5%;
    margin-left: 5%;
  }

  to {
    margin-left: 0%;
  }
}

